@import "syntax-variables";
@import "fonts";

.bracket-matcher .region {
  background-color: @syntax-selection-color;
  border-bottom: none;
}

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
  font-family: SourceCodePro;
  -webkit-font-smoothing: antialiased;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    // color: @syntax-indent-guide-color;
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .indent-guide {
    box-shadow: 1px 0 @lightest-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.comment {
  color: @light-gray;
  font-weight: 400;
}

.keyword {
  color: @syntax-text-color;
  font-weight: 400;

  // &.control {
  //   color: @syntax-text-color;
  // }

  // &.operator {
  //   color: @light-orange;
  //   font-weight: 700;
  // }

  // &.other.special-method {
  //   color: @syntax-text-color;
  // }

  &.unit {
    color: @green;
    font-weight: 700;
  }

  &.elements {
    color: @cyan;
    font-weight: 700;
  }

  // &.control {
  //   font-weight: 700;
  // }
}

.storage {
  color: @syntax-text-color;
  font-weight: 400;
  //
  // &.function,
  // &.class {
  //   color: @syntax-text-color;
  //   font-weight: 400;
  // }
}

.constant {
  // color: @syntax-text-color;

  &.character.escape {
    color: @syntax-text-color;
  }

  &.numeric,
  &.boolean {
    color: @purple;
    font-weight: 700;
  }

  &.other.color {
    color: @syntax-text-color;
  }

  &.other.symbol {
    color: @syntax-text-color;
  }

  &.css,
  &.scss {
    color: @syntax-text-color;
    // font-weight: 700;
  }
}

.variable {
  color: @syntax-text-color;
  font-weight: 700;

  // &.interpolation {
  //   color: @syntax-text-color;
  // }
  //
  // &.parameter.function {
  //   color: @syntax-text-color;
  // }

  &.this {
    font-weight: 400;
  }
}

.invalid {
// .invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: @green;
  font-weight: 700;

  // &.regexp {
  //   color: @orange;
  //   font-weight: 700;
  //
  //   .source.ruby.embedded {
  //     color: @syntax-text-color;
  //   }
  // }

  // &.other.link {
  //   color: @green;
  //   font-weight: 700;
  // }

  // &.css,
  // &.scss {
  //   color: @light-orange;
  //   font-weight: 700;
  // }

  &.html,
  &.quoted.double {
    color: @blue;

    &.css, &.scss {
      color: @green;
    }
  }
}

.punctuation {
  color: @syntax-text-color;
  font-weight: 400;

  &.definition {
    &.comment {
      color: @light-gray;
    }

    // &.string,
    // &.variable,
    // &.parameters,
    // &.array {
    //   color: @syntax-text-color;
    //   font-weight: 400;
    // }
    //
    // &.heading,
    // &.identity {
    //   color: @syntax-text-color;
    // }
    //
    // &.bold {
    //   color: @syntax-text-color;
    // }
    //
    // &.italic {
    //   color: @syntax-text-color;
    //   font-style: italic;
    // }
  }

  &.section.embedded {
    color: @syntax-text-color;
  }
}

.support {
  &.class,
  &.function {
    color: @purple;
    font-weight: 700;
  }

  // &.function  {
  //   color: @cyan;

    // &.any-method {
    //   color: @cyan;
    // }
  // }
  &.property-name {
    color: @purple;
    font-weight: 700;
  }
  // &.property-value {
  //   font-weight: 700;
  // }
  &.css,
  &.scss {
    font-weight: 700;
  }
}

.entity {
  &.name.function {
    color: @blue;
    font-weight: 700;
  }
  &.name.type {
    color: @blue;
    font-weight: 700;
    // text-decoration: underline;
  }
  &.name.method {
    color: @blue;
    font-weight: 700;
  }

  &.other.inherited-class {
    color: @syntax-text-color;
    font-weight: 700;
  }
  &.name.class, &.name.type.class {
    color: @syntax-text-color;
    font-weight: 700;
  }

  &.name.section {
    color: @syntax-text-color;
  }

  &.name.tag {
    color: @purple;
    font-weight: 700;

    &.css, &.scss {
      color: @blue;
    }
  }

  &.other.attribute-name {
    color: @green;
    font-weight: 700;
    font-style: italic;

    &.id {
      color: @blue;
    }

    &.css, &.scss {
      color: @blue;
      font-style: normal;
    }
  }
}

.meta {
  &.class {
    color: @syntax-text-color;
  }

  &.link {
    color: @syntax-text-color;
  }

  &.require {
    color: @syntax-text-color;
  }

  &.selector {
    color: @syntax-text-color;
  }

  &.separator {
    background-color: @very-light-gray;
    color: @syntax-text-color;
  }

  &.tag.jsx {
    color: @green;
    font-weight: 700;
  }

  &.css,
  &.scss {
    font-weight: 700;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-weight: 700;
  }

  &.changed {
    color: @purple;
    font-weight: 700;
  }

  &.deleted {
    color: @red;
    font-weight: 700;
  }

  &.italic {
    color: @purple;
    font-style: italic;
    font-weight: 700;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
    font-weight: 700;
  }

  &.inserted {
    color: @green;
    font-weight: 700;
  }

  &.list {
    color: @red;
    font-weight: 700;
  }

  &.quote {
    color: @orange;
    font-weight: 700;
  }

  &.raw.inline {
    color: @green;
    font-weight: 700;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @green;
    font-weight: 700;
  }
}

atom-text-editor {
  &[mini] .scroll-view,
  :host([mini]) .scroll-view {
    padding-left: 1px;
  }
}
