@import "syntax-variables";
@import "fonts";

@regular: 400;
@bold: 500;
@italicSize: .93em;

.bracket-matcher .region {
  background-color: @syntax-selection-color;
  border-bottom: none;
}

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
  font-family: SourceCodePro;
  font-weight: @regular;
  -webkit-font-smoothing: antialiased;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .indent-guide {
    box-shadow: 1px 0 @lightest-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.comment {
  color: @light-gray;
  font-weight: @regular;
}

.keyword {
  color: @syntax-text-color;
  font-weight: @regular;

  &.unit {
    color: @green;
    font-weight: @bold;
  }

  &.elements {
    color: @cyan;
    font-weight: @bold;
  }
}

.storage {
  color: @syntax-text-color;
  font-weight: @regular;
}

.constant {
  &.character.escape {
    color: @syntax-text-color;
  }

  &.numeric,
  &.boolean {
    color: @purple;
    font-weight: @bold;
  }

  &.other.color {
    color: @syntax-text-color;
  }

  &.other.symbol {
    color: @syntax-text-color;
  }

  &.css,
  &.scss {
    color: @syntax-text-color;
  }
}

.variable {
  color: @syntax-text-color;
  font-weight: @bold;

  &.this {
    font-weight: @regular;
  }
}

.invalid {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: @green;
  font-weight: @bold;

  &.html,
  &.quoted.double {
    color: @blue;

    &.css, &.scss {
      color: @green;
    }
  }
}

.punctuation {
  color: @syntax-text-color;
  font-weight: @regular;

  &.definition {
    &.comment {
      color: @light-gray;
    }
  }

  &.section.embedded {
    color: @syntax-text-color;
  }
}

.support {
  &.class,
  &.function {
    color: @purple;
    font-weight: @bold;
  }

  &.property-name {
    color: @purple;
    font-weight: @bold;
  }

  &.css,
  &.scss {
    font-weight: @bold;
  }
}

.entity {
  &.name.function {
    color: @blue;
    font-weight: @bold;
  }
  &.name.type {
    color: @blue;
    font-weight: @bold;
  }
  &.name.method {
    color: @blue;
    font-weight: @bold;
  }

  &.other.inherited-class {
    color: @syntax-text-color;
    font-weight: @bold;
  }
  &.name.class, &.name.type.class {
    color: @syntax-text-color;
    font-weight: @bold;
  }

  &.name.section {
    color: @syntax-text-color;
  }

  &.name.tag {
    color: @purple;
    font-weight: @bold;

    &.css, &.scss {
      color: @blue;
    }
  }

  &.other.attribute-name {
    color: @green;
    font-weight: @bold;
    font-style: italic;

    &.id {
      color: @blue;
    }

    &.css, &.scss {
      color: @blue;
      font-style: normal;
    }
  }
}

.meta {
  &.class {
    color: @syntax-text-color;
  }

  &.link {
    color: @syntax-text-color;
  }

  &.require {
    color: @syntax-text-color;
  }

  &.selector {
    color: @syntax-text-color;
  }

  &.separator {
    background-color: @very-light-gray;
    color: @syntax-text-color;
  }

  &.tag.jsx {
    color: @green;
    font-weight: @bold;
  }

  &.css,
  &.scss {
    font-weight: @bold;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-weight: @bold;
  }

  &.changed {
    color: @purple;
    font-weight: @bold;
  }

  &.deleted {
    color: @red;
    font-weight: @bold;
  }

  &.italic {
    color: @purple;
    font-style: italic;
    font-weight: @bold;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
    font-weight: @bold;
  }

  &.inserted {
    color: @green;
    font-weight: @bold;
  }

  &.list {
    color: @red;
    font-weight: @bold;
  }

  &.quote {
    color: @orange;
    font-weight: @bold;
  }

  &.raw.inline {
    color: @green;
    font-weight: @bold;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @green;
    font-weight: @bold;
  }
}

atom-text-editor {
  &[mini] .scroll-view,
  :host([mini]) .scroll-view {
    padding-left: 1px;
  }
}
