// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #eee;
@light-gray: #aaa;
@gray: #888;
@dark-gray: #333;
@very-dark-gray: #111;

@cyan: #099;
@blue: #44a;
@purple: #729;
@green: #092;
@red: #e22;
@orange: #e90;
@light-orange: #fc0;
