@font-face {
  font-family: "SourceCodePro";
  src: url(atom://gap-syntax/resources/fonts/SourceCodePro-Light.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SourceCodePro";
  src: local("Operator SSm XLight Italic"), local("OperatorSSm-XLightItalic"),
    url(atom://gap-syntax/resources/fonts/SourceCodePro-LightIt.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "SourceCodePro";
  src: url(atom://gap-syntax/resources/fonts/SourceCodePro-Regular.otf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SourceCodePro";
  src: local("Operator SSm Light Italic"), local("OperatorSSm-LightItalic"),
    url(atom://gap-syntax/resources/fonts/SourceCodePro-It.otf);
  font-style: italic;
  font-size: 0.88em;
  font-weight: 500;
}
